body {
    background:lightgrey;
}

button.idea {
    font-family:Cambria;
    font-size:20px;
    width:370px;
    height:80px;
}

div.attri {
    background-color:black;
    margin-top:30px;
    width:100%;
    height:8vh;
}

div.attri2 {
    background-color:grey;
    margin-bottom:90px;
    width:100%;
    height:8vh
}
